<!DOCTYPE html>
<html lang="en">
<head>
    <base href="../../../"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>物联网</title>
    <link rel="stylesheet" href="assets/css/common.css"></script>
    <link rel="stylesheet" href="assets/module/index/css/index.css"></script>
</head>
<body>
    <div class="main"></div>
    <div class="thingsLeft">
        <div class="thingsLeftEvery" id="thingsLeftEveryOne"></div>
        <div class="thingsLeftEvery" id="thingsLeftEveryTwo"></div>
    </div>
    <div class="thingsRight">
        <div class="thingsRightEvery"></div>
        <div class="thingsRightEvery"></div>
    </div>
    <div class="thingsBottom">
        <div class="thingsBottomEvery"></div>
        <div class="thingsBottomEvery"></div>
        <div class="thingsBottomEvery"></div>
    </div>
    <script src="assets/lib/jquery/jquery-1.9.1.min.js"></script>
    <!-- echarts -->
    <script src="assets/lib/echarts3/echarts.js"></script>
    <!-- 主页面 -->
    <script src="assets/module/index/js/drawEcharts.js"></script>
    <script src="assets/module/index/js/index.js"></script>
    
</body>
</html>